/*
   1. Default Tags
   2. Classes
   3. IDs
   3. Misc
 */

 /* 1. Default Tags */
body {
    max-width: 1200px;
    margin: auto;
    font-family: monospace;
    background-color: black;
    color: white;
}

a:visited, a:link {
    color: #8e16df;
}

a:hover {
    color: rgb(189, 78, 253);
    text-decoration: none;
}

/* 2. Classes */
/* Header */
.header {
    background-color: #6d0dad;
    width: 1200px;
}

.header div {
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
}

.header a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
    color: black;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Bio */

.bio {
    background-color: #202020;
}

.bio div {
    padding: 10px;
}

/* Links */
.links {
    background-color: #313131;
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.links li {
    list-style-type: none;
    display: inline;
    margin: auto;
    padding: 0;
}

.links ul {
    padding: 0;
}

/* Footer */
.footer {
    background-color: rgb(19, 19, 19);
}

.footer td {
    margin: auto;
    padding: 7px 10px;
    bottom: 0;
    color: white;
    text-align: center;
    width: 33%;
}

/* 3. IDs */
#mobile {
    display: none;
}

#icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* 4. Misc */
@media screen and (max-width: 600px) {
    #non-mobile {
        display: none;
    }

    #mobile {
        display: contents;
    }
}